### Scenario: You have a dataset with product prices and quantities sold. 

### Goal: Calculate the total revenue generated for each product by multiplying price by quantity.

In [25]:
# install and import library 
# pip install pandas
import pandas as pd

In [26]:
# Load the dataset from a CSV file
df = pd.read_csv('supermarket.csv')

In [28]:
df.head()

             Product_Type  Product_Price  Quantity
0       Health and beauty          74.69         7
1  Electronic accessories          15.28         5
2      Home and lifestyle          46.33         7
3       Health and beauty          58.22         8
4       Sports and travel          86.31         7

In [29]:
# dimension of dataset
df.shape

(1000, 3)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_Type   1000 non-null   object
 1   Product_Price  1000 non-null   float64
 2   Quantity       1000 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ KB

In [45]:
# summary of statistics
df.describe()

       Product_Price     Quantity  total_revenue
count    1000.000000  1000.000000     1000.00000
mean       55.672130     5.510000      307.58738
std        26.494628     2.923431      234.17651
min        10.080000     1.000000       10.17000
25%        32.875000     3.000000      118.49750
50%        55.230000     5.000000      241.76000
75%        77.935000     8.000000      448.90500
max        99.960000    10.000000      993.00000

In [34]:
# Calculate the total revenue for each product
df['total_revenue'] = df['Product_Price'] * df['Quantity']

In [35]:
df.head()

             Product_Type  Product_Price  Quantity  total_revenue
0       Health and beauty          74.69         7         522.83
1  Electronic accessories          15.28         5          76.40
2      Home and lifestyle          46.33         7         324.31
3       Health and beauty          58.22         8         465.76
4       Sports and travel          86.31         7         604.17

In [42]:
# create a new updated file with total_revenue
df.to_csv('updated_data.csv', index=False)

In [43]:
pd.read_csv('updated_data.csv')

               Product_Type  Product_Price  Quantity  total_revenue
0         Health and beauty          74.69         7         522.83
1    Electronic accessories          15.28         5          76.40
2        Home and lifestyle          46.33         7         324.31
3         Health and beauty          58.22         8         465.76
4         Sports and travel          86.31         7         604.17
..                      ...            ...       ...            ...
995       Health and beauty          40.35         1          40.35
996      Home and lifestyle          97.38        10         973.80
997      Food and beverages          31.84         1          31.84
998      Home and lifestyle          65.82         1          65.82
999     Fashion accessories          88.34         7         618.38

[1000 rows x 4 columns]