### Scenario: You have a list of email addresses. 

### Goal: Extract the username (part before the "@" symbol) from each email address.

In [1]:
# install and import library 
# pip install pandas
import pandas as pd

In [2]:
# Load the dataset from a CSV file
df = pd.read_csv('hotel_booking.csv')

In [3]:
df.head()

,hotel,name,email,phone-number
0,Heritage Grand Hotel,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661
1,Heritage Grand Hotel,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955
2,The Grand Horizon Hotel,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745
3,Heritage Grand Hotel,Laura Murray,Laura_M@gmail.com,364-656-8427
4,The Grand Horizon Hotel,Linda Hines,LHines@verizon.com,713-226-5883

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   hotel         100 non-null    object
 1   name          100 non-null    object
 2   email         100 non-null    object
 3   phone-number  100 non-null    object
dtypes: object(4)
memory usage: 3.2+ KB

In [5]:
# dimension of dataset
df.shape

(100, 4)

In [7]:
df['username'] = df['email'].apply(lambda x: x.split('@')[0])

In [8]:
df

,hotel,name,email,phone-number,username
0,Heritage Grand Hotel,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,Ernest.Barnes31
1,Heritage Grand Hotel,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,Andrea_Baker94
2,The Grand Horizon Hotel,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,Rebecca_Parker
3,Heritage Grand Hotel,Laura Murray,Laura_M@gmail.com,364-656-8427,Laura_M
4,The Grand Horizon Hotel,Linda Hines,LHines@verizon.com,713-226-5883,LHines
...,...,...,...,...,...
95,Ocean Breeze Resort,Nicole Campbell,NicoleCampbell26@zoho.com,438-796-8267,NicoleCampbell26
96,Ocean Breeze Resort,James Hill,Hill.James@mail.com,448-162-3076,Hill.James
97,Ocean Breeze Resort,Daniel Richard,Daniel_R@xfinity.com,540-499-1735,Daniel_R
98,Ocean Breeze Resort,Jacob Porter,Porter_Jacob@verizon.com,432-456-4500,Porter_Jacob
99,Ocean Breeze Resort,Susan Wilson,Wilson_Susan@comcast.net,253-535-6431,Wilson_Susan