In [34]:
import pandas as pd 
import numpy as np

In [35]:
data = {
    'Name':['Saksham','Sakshi','Ambika','Richa','Aman','Pravesh','Ashish','Atul','Raja','Ramakant'],
    'Marks':[85,56,78,90,62,71,88,54,93,47],
    'Hours':[7,5,6,8,5,6,7,4,8,3],
    'Result':['Pass','Fail','Pass','Pass','Fail','Pass','Pass','Fail','Pass','Fail']

}

df = pd.DataFrame(data)

df.to_csv('studentsmarks.csv' , index= False)

In [36]:
df = pd.read_csv('studentsmarks.csv')

In [37]:
df

       Name  Marks  Hours Result
0   Saksham     85      7   Pass
1    Sakshi     56      5   Fail
2    Ambika     78      6   Pass
3     Richa     90      8   Pass
4      Aman     62      5   Fail
5   Pravesh     71      6   Pass
6    Ashish     88      7   Pass
7      Atul     54      4   Fail
8      Raja     93      8   Pass
9  Ramakant     47      3   Fail

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
label_encoder = LabelEncoder()

In [40]:
label_encoder

LabelEncoder()

In [41]:
#df['Result'] = df['Result'].apply(lambda x: 1 if x=='Pass' else 0) 

df['Result'] = label_encoder.fit_transform(df['Result'])

In [42]:
df

       Name  Marks  Hours  Result
0   Saksham     85      7       1
1    Sakshi     56      5       0
2    Ambika     78      6       1
3     Richa     90      8       1
4      Aman     62      5       0
5   Pravesh     71      6       1
6    Ashish     88      7       1
7      Atul     54      4       0
8      Raja     93      8       1
9  Ramakant     47      3       0

In [43]:
X= df.drop(['Result','Name'], axis = 1)

In [44]:
X

   Marks  Hours
0     85      7
1     56      5
2     78      6
3     90      8
4     62      5
5     71      6
6     88      7
7     54      4
8     93      8
9     47      3

In [45]:
y= df['Result']

In [46]:
y

0    1
1    0
2    1
3    1
4    0
5    1
6    1
7    0
8    1
9    0
Name: Result, dtype: int32

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
X_train,X_test , y_train ,y_test = train_test_split(X,y, test_size=0.3, random_state = 42 )

In [49]:
X_train

   Marks  Hours
0     85      7
7     54      4
2     78      6
9     47      3
4     62      5
3     90      8
6     88      7

In [50]:
y_test

8    1
1    0
5    1
Name: Result, dtype: int32

In [51]:
from sklearn.naive_bayes import GaussianNB

In [52]:
gnb = GaussianNB()

In [53]:
gnb.fit(X_train , y_train)

GaussianNB()

In [54]:
y_pred = gnb.predict(X_test)

In [55]:
y_pred

array([1, 0, 1])

In [56]:
gnb.score (X_test ,y_test)

1.0

In [65]:
pr = gnb.predict([[65,4]])
pr
label_encoder.inverse_transform(pr)

C:\Users\ADIT\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array(['Fail'], dtype=object)

In [29]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [61]:
acc= accuracy_score(y_test , y_test)
acc

1.0

In [62]:
cl = classification_report(y_test , y_test)

In [63]:
cl

'              precision    recall  f1-score   support\n\n           0       1.00      1.00      1.00         1\n           1       1.00      1.00      1.00         2\n\n    accuracy                           1.00         3\n   macro avg       1.00      1.00      1.00         3\nweighted avg       1.00      1.00      1.00         3\n'

In [66]:
cm=confusion_matrix(y_test,y_pred)

In [67]:
cm

array([[1, 0],
       [0, 2]], dtype=int64)