### Scenario: You have a DataFrame containing product information with prices and ratings. 

### Goal: Sort the DataFrame by: 
### Price (ascending order - cheapest to most expensive). 
### Rating (descending order - highest to lowest rating).

In [2]:
# install and import library 
# pip install pandas
import pandas as pd

In [4]:
# Load the dataset from a CSV file
df = pd.read_csv('smartWatch.csv')

In [5]:
# dimension of dataset
df.shape

(100, 5)

In [6]:
# top 5 rows
df.head()

  Brand Name  Device Type    Model Name Selling Price  Rating (Out of 5)
0     Xiaomi  FitnessBand  Smart Band 5         2,499                4.1
1     Xiaomi  FitnessBand  Smart Band 4         2,099                4.2
2     Xiaomi  FitnessBand      HMSH01GE         1,722                3.5
3     Xiaomi  FitnessBand  Smart Band 5         2,469                4.1
4     Xiaomi  FitnessBand        Band 3         1,799                4.3

In [7]:
# sort values of price in ascending order and rating in decending order
sorted_df = df.sort_values(by=['Selling Price', 'Rating (Out of 5)'], ascending=[True, False])

In [8]:
sorted_df.to_csv('sorted_Data.csv',index= False)

In [9]:
# result
pd.read_csv('sorted_Data.csv')

,Brand Name,Device Type,Model Name,Selling Price,Rating (Out of 5)
0,Xiaomi,FitnessBand,Smart Band 3i,"1,270",4.2
1,realme,FitnessBand,Band,"1,290",4.0
2,Xiaomi,FitnessBand,Band - HRX Edition,"1,299",4.2
3,realme,FitnessBand,Smart band,"1,450",4.0
4,realme,FitnessBand,Band,"1,499",4.0
...,...,...,...,...,...
95,FitBit,FitnessBand,Charge 2,"8,999",4.4
96,FitBit,FitnessBand,Charge 3,"9,999",4.3
97,FitBit,FitnessBand,Charge 4,"9,999",4.2
98,FitBit,FitnessBand,Charge 3 Special Edition,"9,999",4.0
99,FitBit,Smartwatch,Surge,"9,999",3.8