In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('height.csv')

In [4]:
df.head()

   height gender
0     152      F
1     165      M
2     167      M
3     172      M
4     171      M

In [5]:
df.head(2)

   height gender
0     152      F
1     165      M

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
mode1.fit(df.drop('