### Scenario: You have a list of product prices and a discount percentage. 

### Goal: Write code to calculate the final price for each product after applying the discount.

In [1]:
# install and import library 
# pip install pandas
import pandas as pd

In [2]:
# Load the dataset from a CSV file
df1 = pd.read_csv('Adidas_shoes.csv')

In [3]:
# dimension of dataset
df1.shape

(100, 4)

In [4]:
# top 5 rows
df1.head()

,Product Name,Listing Price,Discount,Rating
0,Women's adidas Originals NMD_Racer Primeknit S...,14999,50,4.8
1,Women's adidas Originals Sleek Shoes,7599,50,3.3
2,Women's adidas Swim Puka Slippers,999,40,2.6
3,Women's adidas Sport Inspired Questar Ride Shoes,6999,50,4.1
4,Women's adidas Originals Taekwondo Shoes,7999,50,3.5

In [5]:
# Apply discount and calculate Discount_Price 
df1['Discount_Price'] = df1['Listing Price']*df1['Discount']/100

In [6]:
df1.head()

,Product Name,Listing Price,Discount,Rating,Discount_Price
0,Women's adidas Originals NMD_Racer Primeknit S...,14999,50,4.8,7499.5
1,Women's adidas Originals Sleek Shoes,7599,50,3.3,3799.5
2,Women's adidas Swim Puka Slippers,999,40,2.6,399.6
3,Women's adidas Sport Inspired Questar Ride Shoes,6999,50,4.1,3499.5
4,Women's adidas Originals Taekwondo Shoes,7999,50,3.5,3999.5

In [7]:
# final price of sale
df1['Sales_Price'] = df1['Listing Price'] - df1['Discount_Price']

In [8]:
df1.head()

,Product Name,Listing Price,Discount,Rating,Discount_Price,Sales_Price
0,Women's adidas Originals NMD_Racer Primeknit S...,14999,50,4.8,7499.5,7499.5
1,Women's adidas Originals Sleek Shoes,7599,50,3.3,3799.5,3799.5
2,Women's adidas Swim Puka Slippers,999,40,2.6,399.6,599.4
3,Women's adidas Sport Inspired Questar Ride Shoes,6999,50,4.1,3499.5,3499.5
4,Women's adidas Originals Taekwondo Shoes,7999,50,3.5,3999.5,3999.5